extends ../layout.pug

block content
  main.container
    div(style="display:flex;align-items:center;justify-content:center; height:100vh")
      div(style="max-width:750px")
        h3 Login to #{app.name}
        form(name="login",method="POST",action="/auth/login", autocomplete="off")
          .form-group
            label.form-label Username
            input(type="text",name="username", autocomplete="off")
          .form-group
            label.form-label Password
            input(type="password",name="password")

          button(type="submit", data-add-loading).btn.btn-primary
            span Log In

        <br />
        .toast.toast-success
          p.
            Note that these are the same credentials used for the
            #[a(href="https://ima-assp.org") https://ima-assp.org] instance.


  script(type="text/javascript")
    include ../includes/forms.js
