style

header.container
  div
    div
      img(src="", alt="IMA World Health Logo")
    </div>

    <div class="one-half column cx-annotation" style="position: absolute; bottom:0; right: 0;">
      <strong>{{ locals.app }}</strong> | {{ report.date}}
    </div>
  </div>

  hr
